body{
  background-image: url("./Images/4CwhI8.jpg");

}
.only{
  margin-top: 220px;
  margin-left: 150px;
  margin-right: 150px;
}
a{
  color: antiquewhite;
}
h1{
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-size: xx-large;
  font-weight: bolder;
}
p{
  color: rgb(123, 123, 231);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover{
  color: rgb(123, 123, 231);
}
p:hover{
  color: antiquewhite;
}
.container{
  background-color: rgb(123, 123, 231);
  margin-top: 80px;
}
#submitid{
  background-color: antiquewhite;
  color:black;
}
#submitid:hover{
  color:black;
  background-color: rgb(123, 123, 231);
}
footer{
  text-align: center;
  margin-top: 50px;
}
.ouput{
  background-color: red;
  display: block;
  height: 80px;
  width: 40px;
  border: 2px solid black;
  margin-top: 160px;
}
@media screen and (max-width: 740px){
}



